* {
    margin: 0%;
    padding: 0%;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: #70aaff;
    
}

svg path{
    fill: #43DE7C ;
    stroke: #0C8037;
    stroke-width: 0.25 ;
}

svg path:hover {
    fill: aquamarine;
    transition: 0.6s ;
    cursor: pointer;
}

.logo img{
    width: 50px;
    
}
.logo,.topnav{
    display: inline;
}
header{
    background-color: #35ffab;
    height: fit-content;
}
.topnav{
    overflow: hidden;
}
.topnav a{
    float: right;
  color: #000000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}