* {
    margin: 0%;
    padding: 0%;
    font-family: Avenir,Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: #70aaff;
    
}



svg path{
    fill: #14ca57 ;
    stroke: #0C8037;
    stroke-width: 0.25 ;
}

svg path:hover {
    fill: aquamarine;
    transition: 0.6s ;
    cursor: pointer;
}

.logo img{
    width: 55px;
    margin-top: 5px;
    margin-left: 20px;
    
}
.logo,.topnav{
    display: inline;
}
header{
    background-color: #e0243c;
    height: 60px;

}
.topnav{
    float: right;
    margin-right: 15px;
    

}
.topnav a{
  display: inline-block;
  color: #FFFFFF;
  padding: 18px 14px;
  text-decoration: none;
  font-size: 16px;
  vertical-align: middle;
  font-family: 'Avenir';
}
g:hover path{
    fill: aquamarine;
    transition: 0.6s ;
    cursor: pointer;
}
.logo a{
    text-decoration: none;
}


.gnl{
    width: 100%;
    min-height: 100vh;
    background-color: rgb(206, 255, 229);
}



.orta {
    width: 80%;
    min-height: 100vh;
    display: block; 
    margin: auto;
    padding-top: 100px;
}

.content {
    float: left;
    width: 50%; 
    top: 30%;
}

.content .title {
    width: 50%;
    margin-top: 50px;
    text-align: center;
    font-size: 20px ;
    color: rgb(42, 41, 41);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.content .about {
    margin-top: 5%;
    color: rgb(35, 35, 35);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    float: left;
    width: 100%;
}

.orta .image{
    float: right;
    width: 45%;
    top: 30%;
}

.orta .image img{
    margin-top: 10%;
    width: 100%;
    height: auto;
}

.cntout{
    margin: 7% ;
}

.introinfo{
    width: 70%;
    position: relative;
    

}

.introinfo .flags{
    position: absolute;
    position: centered;
}

.introinfo .flags img{
    float: left;
    width: 400px;
    height: auto;
}

.introinfo .countryname{
    float: right;
    margin: 20px;
}